# dependencies
node_modules

# Next.js
.next
out
tsconfig.tsbuildinfo

# production
dist

# environment
.env
.env*.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS and editor
.DS_Store
Thumbs.db
.vscode

# Supabase local runtime
.supabase
